/*BS5 是由手機寫起，所以都是min*/
/*slogan*/
.slogan{
    max-height: 680px;
    padding: 77px 0 66px;
    .img-slogan{
        height: 535px;
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .banner-slogan{
        background-color: #1C1C1C;
        padding: 47px 80px;
        border: 1px solid #FFFF;
    }
    .square{
        width: 10px;
        height: 10px;
        background-color: #ffff;
    }
}

@include mobile{
    .img-slogan{
        height: 336px;
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home_mobile.jpg);
    }
    .banner-slogan{
        padding: 32px 28px;
    }
}

/*publicity 宣傳語*/
.publicity{
  padding: 80px 0;
  .box-publicity{
    border: 1px solid #2D2D2D;
    padding: 48px 0;
    border-radius: 12px;
    &:hover{
      background-color: #202020;
      border-color: $secondary;
      span{
        background: linear-gradient(#09ACF5, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
}
@include mobile{
  .publicity{
    padding: 40px 0;
    .title-line-style{
      margin: 0 auto;
    }
    .box-publicity{
      background-color: #202020;
      border-color: #202020;
      span{
        background: linear-gradient(#09ACF5, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
}

/*process 流程*/
.process{
    background-color: #1C1C1C;
    padding: 80px 0;
    .box-process{
      width: 100%;
      border: 1px solid #FFFFFF;
      border-radius: 12px;
      padding: 48px 0 48px 48px;
      z-index: 1;
    }
    .title-box-process{
      position: absolute;
      background-color: #1C1C1C;
      top: -28px;
      left: 48px;
      z-index: 2;
    }
}
@include mobile{
  .process{
    padding: 40px 0;
  }
}

/*program 程式*/
/*swiper-slide 要給寬度定義，不然會直接撐滿版；所以助教這邊給*/
.program{
  padding: 80px 24px;
  .swiper-slide{
    width: auto; /**/
  }
  .slide-btn-style{
    border: 1px solid #ffff;
    padding: 24px 32px;
  }
}

/*recommend 推薦*/
.recommend{
  padding: 80px 0;
  .card{
    border: 2px solid #2D2D2D;
    border-radius: 24px;
    &:hover{
      border: 2px solid $secondary;
    }
  }
  .shot-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .card-body{
    padding: 24px 24px 32px;
  }
  .price-card{
    border-top: 1px solid #C1C1C1;
    padding: 16px 24px;
  }
  .btn-recommend-style{
    padding: 8px 32px;
  }
}
@include mobile{
  .recommend{
    padding: 40px 0;
    .card-body{
      padding: 24px 32px 16px;
    }
    .price-card{
      padding: 16px 32px;
    }
  }
}

/*Strategy 策略*/
.strategy{
  .box-strategy{
    position: relative;
    padding: 216px 0;
    color: #ffff;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #1C1C1C;
      opacity: 0.6;  /*透明度  1-不透明、0.6-半透明、0-完全透明*/
    }
    &:hover{
      &::before{ /*偽元素在hover時消失*/
        display: none;
      }
      .icon-strategy{
        color: $secondary;
      }
      .line-strategy{
        width: 70px;
        background-color: $secondary;
      }
    }
  }
  .line-strategy{
    width: 50px;
    height: 3px;
    background-color: #ffff;
  }
  .bg-img-1{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info01.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
  }
  .bg-img-2{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info02.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
  }
  .bg-img-3{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info03.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
  }
  .bg-img-4{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info04.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
  }
}
@include mobile{
  .strategy{
    .box-strategy{
      padding: 40px 0;
    }
  }
}

/*article 文章*/
.article{
  background-color: #1C1C1C;
  padding: 80px 0;
  .title-line-style{ /*其他區塊也共用*/
    width: 50px;
    height: 3px;
    background-color: #62DB54;
  }
  .card{
    background-color: #1C1C1C;
    padding: 32px;
    &:hover{
      .article-cardRounded{
        display: block;
      }
    }
  }
  .article-cardRounded{
    display: none; /*滑鼠滑到才顯示，先隱藏*/
    width: 32px;
    height: 32px;
    &-TR{
      border-top: 1px solid $secondary;
      border-right: 1px solid $secondary;
      border-top-right-radius: 12px;  /*單讓TR的角圓角*/
    }
    &-TL{
      border-top: 1px solid $secondary;
      border-left: 1px solid $secondary;
      border-top-left-radius: 12px;
    }
    &-BR{
      border-bottom: 1px solid $secondary;
      border-right: 1px solid $secondary;
      border-bottom-right-radius: 12px;
    }
    &-BL{
      border-bottom: 1px solid $secondary;
      border-left: 1px solid $secondary;
      border-bottom-left-radius: 12px;
    }
  }
}
@include mobile{
  .article{
    .card{
      padding: 0;
    }
  }
}

/*feedback 回饋*/
.feedback{
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_share.jpg);
  /*max-height: 733px;*/
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
  .swiper{
    width: 925px;
    height: 429px;  //同學建議，防止箭頭點擊範圍出錯
    &-slide{
      height: 100%;
      width: 100%;
    }
    &-img{
      position: absolute;
      top: 0;
      left: 10px;
      width: 525px;
      height: 381px;
      z-index: 1;
      object-fit: cover;
      &::after{
        content: "";
        position: absolute;
        top: 10px;
        left: -10px;
        width: 100% !important;
        height: 100% !important;
        border: 1px solid #FFFF;
        border-radius: 24px;
        z-index: -1;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
    .img-radius-24{
      border-radius: 24px;
    }
    .card{
      width: 416px;
      height: 178px;
      padding: 32px;
      border-radius: 24px 24px 24px 0;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      &-img{
        position: absolute;
        top: -52px;
        right: 32px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        z-index: 3;
      }
    }
    .swiper-button-next:after {
      content: "";
    }
    .swiper-button-prev:after {
      content: "";
    }
    .swiper-bnt{
      position: unset; // 繼承父級樣式
      pointer-events: none;
      margin-top: -10px;
      width: 24px;
      height: 24px;
      color: $secondary;
      opacity: initial;
    }
    .swiper-pagination{
      bottom: 0;
    }
    .swiper-pagination .swiper-pagination-bullet{
      background-color: $secondary; // 點點顏色
      opacity: initial;
    }
    .swiper-pagination-bullet{
      &-active{  // 觸發效果
        width: 16px;
        border-radius: 100px;
      }
    }
    .swiper-pagination .swiper-button-next .swiper-button-prev{
      position: unset;
      margin-top: 0;
    }
    .swiper-icon{
      position: absolute;
      bottom: 0px;
      left: 15%;
      width: 25%;
      height: 24px;
      z-index: 10;
    }
  }
}
@include pad{ //參考助教
  .feedback{
    padding: 40px 0;
    .swiper{
      width: auto;
      height: 100%;
      object-fit: cover;
      &-img{ //參考助教
        position: relative;
        /*width: auto;*/
        width: 100%;
        &::after{
          top: 5px;
          left: -5px;
        }
      }
      .card{ //參考助教
        position: relative;
        width: 100%;
        padding: 24px;
        bottom: auto;
        right: auto;
        margin-top: 60px;
        &-img{
          width: 80px;
          height: 80px;
        }
      }
      .swiper-icon{ //參考助教
        position: relative;
        width: 50%;
        margin: auto;
        margin-top: 32px !important;
        left: auto;
      }
    }
  }
}

/*join 加入*/
.join{
  padding: 80px 0;
  &-box{
    padding: 48px;
    border-radius: 24px;
  }
  &-btn{
    padding: 8px 32px;
  }
} 
.fs-103_5{
  font-size: 103.5px;
}
@include mobile{
  .join{
    padding: 40px 0;
    &-box{
      padding: 40px 24px;
    }
  }
}