/*BS5 是由手機寫起，所以都是min*/
/*slogan*/
.slogan{
    max-height: 680px;
    padding: 77px 0 66px;
    .img-slogan{
        height: 535px;
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .banner-slogan{
        background-color: #1C1C1C;
        padding: 47px 80px;
        border: 1px solid #FFFF;
    }
    .square{
        width: 10px;
        height: 10px;
        background-color: #ffff;
    }
}

@include mobile{
    .img-slogan{
        height: 336px;
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home_mobile.jpg);
    }
    .banner-slogan{
        padding: 32px 28px;
    }
}

/*publicity 宣傳語*/
.publicity{
  padding: 80px 0;
  .box-publicity{
    border: 1px solid #2D2D2D;
    padding: 48px 0;
    border-radius: 12px;
    &:hover{
      background-color: #202020;
      border-color: #62DB54;
      span{
        background: linear-gradient(#09ACF5, #62DB54);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
}
@include mobile{
  .publicity{
    padding: 40px 0;
    .title-line-style{
      margin: 0 auto;
    }
    .box-publicity{
      background-color: #202020;
      border-color: #202020;
      span{
        background: linear-gradient(#09ACF5, #62DB54);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
}

/*process 流程*/
.process{
    background-color: #1C1C1C;
    padding: 80px 0;
    .box-process{
      width: 100%;
      border: 1px solid #FFFFFF;
      border-radius: 12px;
      padding: 48px 0 48px 48px;
      z-index: 1;
    }
    .title-box-process{
      position: absolute;
      background-color: #1C1C1C;
      top: -28px;
      left: 48px;
      z-index: 2;
    }
}
@include mobile{
  .process{
    padding: 40px 0;
  }
}

/*program 程式*/
/*swiper-slide 要給寬度定義，不然會直接撐滿版；所以助教這邊給*/
.program{
  padding: 80px 24px;
  .swiper-slide{
    width: auto; /**/
  }
  .slide-btn-style{
    border: 1px solid #ffff;
    padding: 24px 32px;
  }
}