
/*
fs- P461 字大小
m&p- P258 間距
color- P71&82
*/

.fm-mono{
    font-family: "Azeret Mono", monospace;
}

/*margin&padding*/
.pr-6{
    padding-right: 6px;
}
.pr-48{
    padding-right: 48px;
}
.pr-50{
    padding-right: 50px;
}