
/*
fs- P461 字大小
m&p- P258 間距
color- P71&82
*/

/*font-family*/
.fm-mono{
    font-family: "Azeret Mono", monospace;
}

/*font-size*/
.fs-50{
    font-size: 50px;
}


/*line-height*/



/*color*/
.color-gradient{
    background: linear-gradient(#09ACF5, #62DB54); /* 漸層-預設是由上到下漸層 */
    background-clip: text; /* 將背景裁切成只有文字部分 */
    -webkit-background-clip: text; /* 因為 Chrome 還沒有很好的支援度，所以要加上 webkit 前綴 */
    color: transparent; /* 文字顏色設定為透明 color: transparent; 呈現出背景 */
}
.bg-color-gradient{
    background: linear-gradient(104deg, #09ACF5, #62DB54);
}

/*line*/
.title-line-style{
    width: 50px;
    height: 3px;
    background-color: $secondary;
}


/*margin&padding*/
.pr-6{
    padding-right: 6px;
}
.pr-48{
    padding-right: 48px;
}
.pr-50{
    padding-right: 50px;
}
/*
  .swiper{
    position: relative;
    width: 925px;
    height: 429px;  //同學建議，防止箭頭點擊範圍出錯
    /*img{
      width: 100%;
      height: 100%;
    }*/

    /*&-img{
      position: absolute;
      top: 0;
      left: 10px;
      width: 525px;
      height: 381px;
      z-index: 1;
      object-fit: cover;
      &::after{
        content: "";
        position: absolute;
        top: 10px;
        left: -10px;
        width: 100%;
        height: 100%;
        border: 1px solid #FFFF;
        border-radius: 24px;
        z-index: -1;
      }
    }
    .img-radius-24{
      border-radius: 24px;
    }
    .card{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 416px;
      height: 178px;
      padding: 32px;
      border-radius: 24px 24px 24px 0;
      z-index: 2;
      &-img{
        position: absolute;
        top: -52px;
        right: 32px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        z-index: 3;
      }
    }
    .swiper-button-next:after {
      content: "";
    }
    .swiper-button-prev:after {
      content: "";
    }
    .swiper-bnt{
      position: unset; // 繼承父級樣式
      pointer-events: none;
      margin-top: 0;
      width: 24px;
      height: 24px;
      color: $secondary;
      opacity: initial;
    }
    .swiper-pagination{
      bottom: 5px;
    }
    .swiper-pagination .swiper-pagination-bullet{
      background-color: $secondary; // 點點顏色
      opacity: initial;
    }
    .swiper-pagination-bullet{
      &-active{  // 觸發效果
        width: 16px;
        border-radius: 100px;
      }
    }
    .swiper-pagination .swiper-button-next .swiper-button-prev{
      position: unset;
      margin-top: 0;
    }
    .swiper-icon{
      position: absolute;
      bottom: 0;
      left: 15%;
      width: 30%;
      height: auto;
      z-index: 10;
    }
  }
}
@include mobile{ //參考助教
  .swiper{
    width: auto;
    height: auto;
    &-img{ //參考助教
      position: relative;
      width: 100%;
    }
  }
  .card{ //參考助教
    position: relative;
    width: 100%;
    padding: 24px;
    bottom: auto;
    right: auto;
    margin-top: 90px;
    &-img{
      width: 80px;
      height: 80px;
    }
  }
  .swiper-icon{ //參考助教
    position: relative;
    transform: translateY(50%);
    margin: auto;
    margin-top: 32px;
    left: auto;
  }
}*/