
/*
fs- P461 字大小
m&p- P258 間距
color- P71&82
*/

/*font-family*/
.fm-mono{
    font-family: "Azeret Mono", monospace;
}

/*font-size*/
.fs-50{
    font-size: 50px;
}


/*line-height*/



/*color*/
.color-gradient{
    background: linear-gradient(#09ACF5, #62DB54); /* 漸層-預設是由上到下漸層 */
    background-clip: text; /* 將背景裁切成只有文字部分 */
    -webkit-background-clip: text; /* 因為 Chrome 還沒有很好的支援度，所以要加上 webkit 前綴 */
    color: transparent; /* 文字顏色設定為透明 color: transparent; 呈現出背景 */
}
.bg-color-gradient{
    background: linear-gradient(104deg, #09ACF5, #62DB54);
}

/*line*/
.title-line-style{
    width: 50px;
    height: 3px;
    background-color: $secondary;
}


/*margin&padding*/
.pr-6{
    padding-right: 6px;
}
.pr-48{
    padding-right: 48px;
}
.pr-50{
    padding-right: 50px;
}
